.user {
	display: flex;
	margin-top: auto;
	img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
}
.publish__date {
	margin: 0;
	font-size: 13px;
	small {
		color: var(--comet);
	}
}
.user__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}